/* Colour palette from http://www.colourlovers.com/palette/919313/Papua_New_Guinea */
/* Based on Skeleton.css: http://getskeleton.com/ */
body {
  background-color: #916449;
}
.page {
  background-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
header {
  background-color: #5e412f;
  padding: 0.25rem;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}
header h1 {
  font-family: "Sigmar One", cursive;
  color: #f0a830;
  margin: 0 1rem;
  line-height: 0;
  display: inline;
}
header .tagline {
  font-family: serif;
  font-style: oblique;
  margin: 1rem 1rem 0.3rem;
  color: #fcebb6;
}
nav ul {
  list-style-type: none;
  margin: 0 0 0.3rem;
}
nav ul li {
  display: inline;
}
nav a.button {
  color: #f5a260;
  margin: 0 0.5em;
  padding-bottom: 0.2em;
}
nav a.current-page {
  border-bottom-color: #f0a830;
}
nav a:active:not(.current-page),
nav a:hover:not(.current-page),
nav a:focus:not(.current-page) {
  border-bottom-color: #78c0a8;
}
main,
footer {
  color: #5e412f;
  background-color: white;
  padding: 1rem;
}
main h2 {
  color: #78c0a8;
}
ul.menu-items {
  list-style-type: none;
  padding: 0;
}
ul.menu-items li {
  background: #f07818;
  color: #fcebb6;
  border-radius: 0.5rem;
  padding: 0.6rem;
  margin-left: 0;
  margin-bottom: 1.0rem;
}
ul.menu-items li h4 {
  float: left;
  display: inline;
  margin-top: 0.2em;
}
ul.menu-items li .special::before {
  /* Add a filled star before specials */
  content: "\2605 \00A0";
}
ul.menu-items li .price {
  float: right;
  display: inline;
  margin-top: 0.2em;
}
ul.menu-items li p {
  clear: both;
}
footer {
  text-align: center;
}
/* Basic sizes for small screens */
header img {
  width: 2.5rem;
  height: 2.5rem;
}
h1 {
  font-size: 2.5rem;
}
h2.tagline {
  display: none;
}
h2 {
  font-size: 1.3rem;
}
h3,
h4,
h5,
h6 {
  font-size: 1rem;
}
/* Larger than mobile */
@media (min-width: 400px) {
  header img {
    width: 3rem;
    height: 3rem;
  }
  h1 {
    font-size: 3rem;
  }
  h2.tagline {
    display: block;
    font-size: 1.2rem;
  }
  h2 {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4,
  .price {
    font-size: 1.1rem;
  }
  h5 {
    font-size: 1.1rem;
  }
  h6 {
    font-size: 1rem;
  }
  nav ul {
    padding: 0;
  }
}
/* Larger than phablet */
@media (min-width: 550px) {
  header img {
    width: 4rem;
    height: 4rem;
  }
  h1 {
    font-size: 3.5rem;
  }
  h2.tagline {
    font-size: 1.5rem;
  }
  h3 {
    font-size: 1.5rem;
  }
}
/* Larger than tablet */
@media (min-width: 750px) {
  header img {
    width: 5.5rem;
    height: 5.5rem;
  }
  header h1 {
    font-size: 4.5rem;
  }
  h4,
  .price {
    font-size: 1.3rem;
  }
  .page {
    margin: 1.5rem;
  }
  .menu-items li {
    max-width: 750px;
  }
}
/* Larger than desktop */
@media (min-width: 1000px) {
  header img {
    width: 6.5rem;
    height: 6.5rem;
  }
  header h1 {
    font-size: 5.5rem;
  }
}
/* Larger than Desktop HD */
/* Button style from Skeleton.css */
.button,
button {
  display: inline-block;
  padding: 0.5em;
  text-align: center;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1.2em;
  letter-spacing: .05rem;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 0.3rem;
  cursor: pointer;
  box-sizing: border-box;
  border-style: solid;
  border-width: 0.2em;
  border-color: transparent;
}