<p class="message" data-bind="text: loadingMsg"></p>

<!-- Remember that isLoading is a function, not a boolean value :) -->
<loading-icon data-bind="visible: isLoading()"></loading-icon>
<section data-bind="visible: !loadingMsg()">
	<h2>Today's Specials</h2>
	<ul class="menu-items" data-bind="foreach: specials">
		<li>
			<h4 data-bind="text: name"></h4>
			<span class="price" data-bind="text: price"></span>
			<p data-bind="text: description"></p>
		</li>
	</ul>
</section>

<section data-bind="visible: !loadingMsg()">
	<h2>Our Menu</h2>
	<ul class="menu-items" data-bind="foreach: menuItems">
		<li>
			<h4 data-bind="text: name, css: { special: isSpecial }"></h4>
			<span class="price" data-bind="text: price"></span>
			<p data-bind="text: description"></p>
		</li>
	</ul>
</section>