<p data-bind="text: loadingMsg"></p>

<!-- Remember that isLoading is a function, not a boolean value :) -->
<loading-icon data-bind="visible: isLoading()"></loading-icon>
<section data-bind="visible: !loadingMsg()">
	<h2>Today's Specials</h2>
	<ul class="menu-items" data-bind="foreach: specials">
		<li>
			<div class="row">
				<h3 class="nine columns" data-bind="text: name"></h3>
				<span class="price three columns" data-bind="text: price"></span>
			</div>
			<p data-bind="text: description"></p>
		</li>
	</ul>
</section>

<section data-bind="visible: !loadingMsg()">
	<h2>Our Menu</h2>
	<ul class="menu-items" data-bind="foreach: menuItems">
		<li>
			<div class="row">
				<h3 class="nine columns" data-bind="text: name"></h3>
				<span class="price three columns" data-bind="text: price"></span>
			</div>
			<p data-bind="text: description"></p>
		</li>
	</ul>
</section>